<p>Create Photo:</p>
<form id="photo_create">
	<label for="photo_title">Photo Title:</label>
	<input type="text" id="photo_title" name="photo[title]">

	<label for="photo_url">Photo URL:</label>
	<input type="text" name="photo[url]" id="photo_url">

	<p><input type="submit" value="Create Photo"></p>
</form>